body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
    color: #333;
    display: block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #F44831;
}

.navbar .navbar-brand {
    color: white;
}

.btn {
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
}
