body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
    color: #333;
    display: block;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}