<div align="center">
  <style>
    .search {
      padding: 10px;
      width: 80%;
      border-radius: 20px;
    }
  </style>
  <h1>Inscription</h1>
  <form action="/adduser" method="post">
    <div>
      <input type="text" name="firstname" placeholder="Prenom" />
    </div>
    <div>
      <input type="text" name="name" placeholder="Nom" />
    </div>
    <div>
      <input type="text" name="username" placeholder="Identifiant" />
    </div>
    <div>
      <input type="password" name="password" placeholder="Mot de passe" />
    </div>
    <div>
      <input type="text" name="email" placeholder="Adresse mail" />
    </div>
    <input type="submit" value="Valider" />
  </form>
</div>
