{% extends "main.html" %}


{% block content %}

<div class="d-flex justify-content-center">
  <div>
    <div id="content">
      <div style="text-align: center;">
        <h1>Bienvenue sur Kitchen Online</h1>
        <h3>Trouver des recettes qui vous ressemble</h3>

      </div>

      <button type="button" class="btn btn-warning">Découvrir</button>

    </div>
  </div>

  <div style="background-color: yellow;">
    <div class="carousel">

      <div class="carousel slide" id="carouselExample" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-25" src="{{url_for('static', filename='img/yildiz.jpeg')}}" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-25" src="{{url_for('static', filename='img/yildiz.jpeg')}}" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-25" src="{{url_for('static', filename='img/yildiz.jpeg')}}" alt="Third slide">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
  </div>

</div>

{% endblock %}